.popup__btn-close {
  width: 38px;
  height: 38px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image:
  linear-gradient(135deg, transparent 45%, #ffffff 45%, #ffffff 55%, transparent 55%),
  linear-gradient(225deg, transparent 45%, #ffffff 45%, #ffffff 55%, transparent  55%);
  border-radius: 15px;
  background-color: rgba(0,0,0,.0);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .popup__btn-close {
    right: 0;
    width: 28px;
    height: 28px;
  }
}
