.header__logo-react {
    width: 80px;
}
@media (prefers-reduced-motion: no-preference) {
  .header__logo-react {
    animation: logo-react-spin infinite 20s linear;
  }
}

@keyframes logo-react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}