.popup__title {
  width: calc(100% - 2 * 36px);
  height: 23px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
  margin: 34px auto 0;
}

@media screen and (max-width: 984px) {
  .popup__title {
    font-size: 20px;
    line-height: 24px;

  }
}

@media screen and (max-width: 568px) {
  .popup__title {
    width: calc(100% - 2 * 22px);
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    margin: 25px auto 35px;
  }
}
