.popup__input {
  width: 100%;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #000000;
  padding-bottom: 13px;
  margin: 0 auto 30px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 568px) {
  .popup__input {
    width: 238px;
  }
}
/* .popup__input:focus {
  border: 1px solid blue;
} */
