.page__header {
  width: 100%;
  padding: 45px 0 41px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 568px) {
  .add-wrapped-class .page__header {
    padding: 32px 0 32px;
    flex-direction: column-reverse;
    align-items: center;
  }
}